@import "../../styles/mixins";

.card {
    $ratio: 2397/3834 ;
    $card-width: 500px;
    $card-width-sm: 343px;
    @include msm-down {
        $card-width: $card-width-sm;
    }

    $card-height: calc($card-width / $ratio);
    
    aspect-ratio: $ratio;
    overflow: hidden;
    color: #ff00a2;
    display: flex;
    flex-direction: column;
    width: $card-width;
    padding: calc(90px / 3834px * $card-height) calc(96px / 2397px * $card-width);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    // box-sizing: content-box;
    overflow: hidden;

    


    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: calc(280px / 3834px * $card-height);
        padding-top: calc(250px / 3834px * $card-height);

        .word {
            font-family: "Config Rounded";
            font-weight: bold;
            text-transform: capitalize;
            letter-spacing: 4px;
            line-height: 1.2;
        }
        .pronounce {
            font-size: calc(175px / 3834px * $card-height);
            font-family: 'Courier New';
            display: flex;
            align-items: center;

            .pronounce-icon {
                display: flex;
                height: 28px;
                width: 28px;

                img {
                    height: 100%;
                    max-width: 100%;
                    vertical-align: middle;
                    object-fit: contain;
                }
            }
        }
    }

    .body {
        position: relative;
        font-size: calc(200px / 3834px * $card-height);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        .animated-object-wrapper {
            flex-grow: 1;
        }

        .translation {
            text-transform: capitalize;
            display: flex;
            gap: 10px;
            justify-content: center;
            padding-bottom: calc(280px / 3834px * $card-height);
            font-family: "AdobeMingStd";
            font-weight: 300;
            line-height: 1;

            span {
                &:first-child {}
                &:last-child {
                    color: #2b67ff;
                }
            }
        }
    }
}